body {
    font-family: 'Nunito', sans-serif;
}

.job-title {
    font-size: 2rem;
}

.job-content {
    font-size: 1.5rem;
}

.text-color {
    color: #F58B3B;
    font-style: italic;
}

.badge {
    background-color: #D8D8D8;
    color: #000000;
}

.btn {
    border-radius: 2.6rem;
    background-color: #F58B3B;
    color: white;
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
    .job-title {
        font-size: 1.5rem;
    }
    .job-content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .job-title {
        font-size: 1.5rem;
    }
    .job-content {
        font-size: 1rem;
    }
    .btn-div {
        width: 30%;
    }
}