.card {
    padding-left: 76px;
    margin-top: 10px
}

.card-title {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

.card-text {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    margin-right: 40px;
    font-size: 20px;
}

.job-type {
    color: #F58B3B;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}

.btn {
    border-radius: 43px;
    background-color: #F58B3B;
    width: 100px;
    color: white;
    font-size: 20px;
    word-wrap: break-word;
}

.badge {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    margin: 0 10px 0 10px;
    padding: 10px;
    /* border-radius: 23px; */
    height: 30px;
    background-color: #D8D8D8;
}

.job {
    display: flex;
    margin: 10px 0 10px 0;
    font-weight: 800;
}

#level {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}

.paragraph {
    padding-right: 76px;
    padding-left: 76px;
    margin-top: 85px;
}

/* .btn-apply{ 
    border-radius: 43px;	
    background-color: #F58B3B;
    width: 100px;

} */